# Zugriff auf Datenbank & sensible Dateien blockieren
<FilesMatch "\.(sqlite|sqlite3|db)$">
    Require all denied
</FilesMatch>

<Files "install.php">
    # Require all denied
</Files>

Options -Indexes
